main {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    margin-bottom: 64px;
}

main article {
    display: grid;
    align-self: center;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 36px;
    margin-bottom: 24px;
}

.pagination {
    text-align: center;
}

.pagination button {
    font-size: 18px;
    font-weight: 300;
    height: 32px;
    width: 32px;
    border: 1px solid lightgray;
    background-color: white;
    margin-left: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: lightgray;
}